html, body {
    margin:0px;
    height: 100%;
}

header{
    width: 100%;
    height: 30%;
    display: flex;
}

#profile-photo{
    width: 30%;
    height: 100%;
    display: flex;
    background-color: #247474;
}

#profile-information{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    background-color: #2D2E2E;
    font: 60% Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 10px;
    color: white;
}

img{
    width: 35%;
    height: 75%;
    margin: auto auto;
}